#grid {
    box-sizing: border-box;
    display: grid;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

button {
    background-color: #fcd24f;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 0px 8px 0px 0px #fcd24f;
    width: 250px;
    height: 30px;
    margin: 30px;
}

button:active {
    background-color: #DFA900;
    transform: translate(-2px, 5px);
    box-shadow: 0px 5px 0px 0px #fcd24f;
}

